/*MSIE9 patch*/
#MasterColorPicker  {
	position: relative; }
#MasterColorPicker .pickerPanel,
#MasterColorPicker .pickerPanel.expanding {
	position: absolute;    /** DEFAULT POSITION **/
	max-height: 1080px;  }
#MasterColorPicker_mainPanel {
	padding-top: .382em; }

table#Spectral  {width: 49em;}
#BeezEye tr:nth-child(2) td:last-child  {height: 0;}
table#BeezEye tr:first-child td:first-child label  {left: 0px;}
table#BeezEye tr:nth-child(2) label span  {color: white;}
table#BeezEye tr:nth-child(2) label span.fd-slider,
table#BeezEye tr:nth-child(2) label span.fd-slider span {
	color: inherit;
	padding: 0; }

table#BeezEye tr:nth-child(3) fieldset label:first-child {
	top: 18.618em;
	left: -5.362em; }

.fd-slider {
	width: 10em;
	display: inline-block;
	vertical-align: bottom;
	padding: 0;
	margin: 0; }

table#BeezEye input.fd-form-element-hidden,
table#BeezEye fieldset label input.fd-form-element-hidden {display: none;}

#BeezEye tr:first-child td:first-child .fd-slider  {display: block;}
